<!DOCTYPE html>
<html>
<head>
  <title>Hostname Change Report</title>
</head>
<body>
  <h1>Hostname Change Report for {{ inventory_hostname }}</h1>
  <p>Date of Report: {{ ansible_date_time.iso8601 }}</p>
  <ul>
    <li>Hostname Change: {% if task_status is defined and task_status == "Failed" %}<strong>Failed</strong>{% else %}<strong>Complete</strong>{% endif %}</li>
  </ul>
</body>
</html>
